@font-face {
    font-family: 'joystix';
    src: url('../font/joystix-monospace.ttf')  format('truetype');
  }

html {
    font-family: joystix;
}

body {
    margin:0px;
    background-color: #f7f7f7;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game > div {
    width: 600px;
    height: 250px;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 1, 1) .4s;
}

.game > div > canvas {
    image-rendering: pixelated;
}