html {
    font-family: monospace;
}
.game-canvas {
    width: 600px;
    transform: scale(2) translateY(0px);
    height: 250px;
    margin: auto;
    transform-origin: top center;
}

.game-canvas canvas {
    image-rendering: pixelated;

}